/.settings/
/target/
/war/WEB-INF/classes/
/war/WEB-INF/lib/appengine-*
/war/WEB-INF/lib/asm-*
/war/WEB-INF/lib/datanucleus-*
/war/WEB-INF/lib/geronimo-jpa_*
/war/WEB-INF/lib/jdo-api-*
/war/WEB-INF/lib/jsr*
/war/WEB-INF/lib/jta-*
